<div class="orderService">
    <!--工单服务头部-->
    <div class="content">服务内容</div>
    <!--solid-->
    <div class="solid"></div>
    <!--服务类型-->
    <ul class="type clearfix">
        <li class="fl lo"><span>服务类型：</span></li>
        <li class="fl lt">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu">全部<span class="glyphicon glyphicon-menu-down"></span></button>

                <ul class="dropdown-menu dropdown_menu1" role="menu" aria-labelledby="dropdownMenu">
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1">待发布</a><li>
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已发布</a><li>
                </ul>
            </div>
        </li>
        <li class="fr ro"><a href="javascript:;">+ 新增服务类型</a></li>
        <li class="fr rt"><a href="javascript:;">+ 新增服务内容</a></li>
    </ul>
    <!--服务列表-->
    <ul class="clearfix servicelist">
        <li class="fl obj">服务类型</li>
        <li class="fl con">服务内容</li>
        <li class="fl charge">收费规则</li>
        <li class="fl state">启用状态</li>
        <li class="fl operation">操作</li>
    </ul>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--列表内容-->
    <ul class="clearfix listobj">
        <li class="fl listobj_fir">A</li>
        <li class="fl listobj_sec">A</li>
        <li class="fl listobj_san">220元/小时</li>
        <li class="fl listobj_for">启用</li>
        <li class="fl listobj_fix">
            <ul>
                <li class="fl listobj_fix_fir"><a href="javascript:;">修改</a></li>
                <li class="fl listobj_fix_sec"><a href="javascript:;">删除</a></li>
                <li class="fl listobj_fix_san"><a href="javascript:;">禁用</a></li>
            </ul>
        </li>
    </ul>

    <!--solid-->
    <div class="solidt"></div>
    <!--分页-->
    <ul class="pagination pagination-lg pagination_footer">
        <li><a href="javascript:;">上一页</a></li>
        <li><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li><a href="javascript:;">下一页</a></li>
    </ul>
    <!--服务内容弹窗-->
    <div class="content_box">

    </div>
    <!--服务类型弹窗-->


</div>























