<div>
    <!--工单列表头部-->
    <ul class="clearfix top">
        <li class="fl left"><span>工单列表</span></li>
        <li class="fr right"><a href="javascript:;">< 返回列表页</a></li>
    </ul>

    <div class="solid"></div>
    <!--下拉菜单-->
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownMenu">全部<span class="glyphicon glyphicon-menu-down"></span></button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">待发布</a><li>
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已发布</a><li>
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已接单</a><li>
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">正在工作-待完成</a><li>
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已完成</a><li>
            <li role="presentation"><a href="#" role="menuitem" tabindex="-1">已取消</a><li>
        </ul>
    </div>
</div>