<aside>
    <ul class="server_left">
        <li class="panel_head">
            <div class="panel_text border_active text_active">系统管理<span class="plus">-</span></div>
            <ul class="panel_body system_body1 server_active">
                <li class="panel_list"><a ui-sref="system.passwordModification" class="list_active">密码修改</a></li>
                <li class="panel_list"><a ui-sref="system.log">操作日志</a></li>
            </ul>
        </li>
    </ul>
</aside>
<div ui-view class="server_body"></div>